@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.container {
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}

.titlePage {
  font-size: 60px;
  line-height: 120%;
  font-weight: bold;
  letter-spacing: -2%;
}

.heading {
  font-size: 24px;
  line-height: 120%;
  font-weight: 700;
  letter-spacing: -2%;
}

/* Custom scrollbar hiding */
.hide-scrollbar {
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

